<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-Do-List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1><%= dayName1 %></h1>
  </div>

  <div class="box">

    <% newListItem.forEach(function(item){ %>

    <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="chk_bx" value="<%= item.id %>" onChange="this.form.submit()";>
      <p><%= item.itemName %></p>
    </div>
    </form>

    <% }) %>

    <form class="item" action="/" method="post">
      <input type="text" name="item" placeholder="New Item" autocomplete="off">
      <button type="submit" name="submit"> + </button>
    </form>
  </div>

</body>

</html>
